<label>Student Name:</label><br>
  <%= text_field_tag :name %>

<label>Student Hometown:</label><br>
  <%= text_field_tag :hometown %>

<label>Student Birthday:</label><br>
  <%= date_field_tag :birthday %>

  <%= submit_tag "Submit Post" %>